@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="page-header page-header-text-light bg-secondary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1>About Us</h1>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                    <li><a asp-action="Index">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- Page Header end -->
<div id="content">
    <div class="container">
        <div class="bg-light shadow-md rounded p-4">
            <h2 class="text-6">What is RechareMobile?</h2>
            <p>
                Instant Online Recharge and Bill Payments It would be most interesting to them and, as some of you will pursue the force, they might be right to mine. It changes the tacitmates that is. Laughing at mediocrity is right or wrong
                <a href="#">
                    great investment
                </a>.
                Average quality in these. For when both of these things were perfected by me, the tritan labors were easy for her, without any sense. His eleifend in which But I have another anger of my own.
            </p>
            <p>
                Sharing the pleasures from when, but it would have been so that when we want from mine lied. The tenacity of the stranger's majesty does not prevent him from persecuting and using force. When he says, let the pleasure be accomplished, let him fear no slips. In short, let them leave you, in the judgment of these Epicureans, and my people as well. But instead of making sentences, let's not write two things in Greek. No investment is to be sought nor, in other respects
                <a href="#">
                    teaching the others
                </a> ut.
                Wherein he understood ours. From here the right is adorned with errors, in the case of the first army. Get him first. Theophrastus is right with the least, the stubbornness of the readings or for
            </p>
            <div class="row mt-4 mb-2">
                <div class="col-md-4">
                    <div class="featured-box style-1">
                        <div class="featured-box-icon text-primary"> <i class="far fa-thumbs-up"></i></div>
                        <h3>Why choose Us</h3>
                        <p>
                            And the suit would be of more interest to them, and, as some of you will persecute the force, they would perhaps be rightly against me.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box style-1">
                        <div class="featured-box-icon text-primary"> <i class="far fa-paper-plane"></i> </div>
                        <h3>Our Mission</h3>
                        <p>
                            And the suit would be of more interest to them, and, as some of you will persecute the force, they would perhaps be rightly against me.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box style-1">
                        <div class="featured-box-icon text-primary"> <i class="far fa-eye"></i> </div>
                        <h3>Our Vision</h3>
                        <p>
                            And the suit would be of more interest to them, and, as some of you will persecute the force, they would perhaps be rightly against me.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="text-6 mb-3">Leadership</h2>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team">
                        <img class="img-fluid rounded" alt="" src="~/Content/images/team/leader.jpg">
                        <h3>Mr.F(a.k.a Frog)</h3>
                        <p class="text-muted">CEO & Founder</p>
                        <ul class="social-icons social-icons-sm d-inline-flex">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team">
                        <img class="img-fluid rounded" alt="" src="~/Content/images/team/leader2.jpg">
                        <h3>Mr.W(a.k.a Weebo)</h3>
                        <p class="text-muted">Co-Founder</p>
                        <ul class="social-icons social-icons-sm d-inline-flex">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img class="img-fluid rounded" alt="" src="~/Content/images/team/leader3.jpg">
                    <div class="team">
                        <h3>Mr.T(a.k.a School Nguyen)</h3>
                        <p class="text-muted">Co-Founder</p>
                        <ul class="social-icons social-icons-sm d-inline-flex">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team">
                        <img class="img-fluid rounded" alt="" src="~/Content/images/team/leader4.jpg">
                        <h3>Mr.L(a.k.a Genbu)</h3>
                        <p class="text-muted">Support</p>
                        <ul class="social-icons social-icons-sm d-inline-flex">
                            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- Content end -->