<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from apipagos.com/pays/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jul 2023 08:51:49 GMT -->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="~/Content/images/favicon.png" rel="icon" />

<title>RechargeMobile</title>
<meta name="description" content="RechargeMobile - Recharge & Bill Payment, Booking HTML5 Template">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/vendor/owl.carousel/assets/owl.theme.default.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css" />

</head>
<body>
<!-- Preloader -->
<div id="preloader"><div data-loader="dual-ring"></div></div><!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          
          <!-- Logo
          ============================================= -->
          <div class="logo">
          	<a href="~/Content/index.html" title="Quickai - HTML Template"><img src="~/Content/images/logo.png" alt="Quickai" width="127" height="29" /></a>
          </div><!-- Logo end -->
          
        </div>
        
        <div class="header-column justify-content-end">
        
          <!-- Primary Navigation
          ============================================= -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav">
			  <li class="dropdown active"> <a class="dropdown-toggle" asp-controller="" asp-action="">Home</a>
                <li class="dropdown"> <a class="dropdown-toggle" href="#">Recharge & Bill Payment</a> 
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" asp-controller="Home" asp-action="rechargeplant">Recharge Plans</a></li>
                      <li><a class="dropdown-item" asp-controller="Home" asp-action="payment">Payment</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a class="dropdown-toggle" href="#">Pages</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="aboutus">About Us</a></li>
                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" asp-controller="Home" asp-action="loginandsignup">Login/Signup</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="loginandsignup">Page</a></li>
                        <li><a class="dropdown-item" data-toggle="modal" data-target="#login-signup" href="#">Dialog Popup</a></li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="UserAccount">My Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="youroder">Orders</a></li>
					<li><a class="dropdown-item" asp-controller="Home" asp-action="">Payment</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Support">Support</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="contact">Contact Us</a></li>
                  </ul>
                </li>
                    <li class="login-signup ml-lg-2"><a class="pl-lg-4 pr-0" data-toggle="modal" data-target="#login-signup" asp-controller="Home" asp-action="loginandsignup" title="Login / Sign up">Login / Sign up <span class="d-none d-lg-inline-block"><i class="fas fa-user"></i></span></a></li>
              </ul>
            </div>
          </nav><!-- Primary Navigation end --> 
          
        </div>
        
        <!-- Collapse Button
        ============================================= -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
      </div>
    </div>
  </header><!-- Header end -->
  
  <div>
      @RenderBody();
  </div>
  
  <!-- Footer
  ============================================= -->
  <footer id="footer">
    <section class="section bg-light shadow-md pt-4 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="featured-box text-center">
              <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
              <h4>100% Secure Payments</h4>
              <p>Moving your card details to a much more secured place.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="featured-box text-center">
              <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
              <h4>Trust pay</h4>
              <p>100% Payment Protection. Easy Return Policy.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="featured-box text-center">
              <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
              <h4>Refer & Earn</h4>
              <p>Invite a friend to sign up and earn up to $100.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="featured-box text-center">
              <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
              <h4>24X7 Support</h4>
              <p>We're here to help. Have a query and need help ? <a href="~/Content/#">Click here</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <p>Payment</p>
          <ul class="payments-types">
            <li><a href="~/Content/#" target="_blank"> <img data-toggle="tooltip" src="~/Content/images/payment/visa.png" alt="visa" title="Visa"></a></li>
            <li><a href="~/Content/#" target="_blank"> <img data-toggle="tooltip" src="~/Content/images/payment/discover.png" alt="discover" title="Discover"></a></li>
            <li><a href="~/Content/#" target="_blank"> <img data-toggle="tooltip" src="~/Content/images/payment/paypal.png" alt="paypal" title="PayPal"></a></li>
            <li><a href="~/Content/#" target="_blank"> <img data-toggle="tooltip" src="~/Content/images/payment/american.png" alt="american express" title="American Express"></a></li>
            <li><a href="~/Content/#" target="_blank"> <img data-toggle="tooltip" src="~/Content/images/payment/mastercard.png" alt="discover" title="Discover"></a></li>
          </ul>
        </div>
        <div class="col-md-4 d-flex align-items-md-end flex-column">
          <p>Keep in touch</p>
          <ul class="social-icons">
            <li class="social-icons-facebook"><a data-toggle="tooltip" href="~/Content/http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a data-toggle="tooltip" href="~/Content/http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-google"><a data-toggle="tooltip" href="~/Content/http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
            <li class="social-icons-linkedin"><a data-toggle="tooltip" href="~/Content/http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="social-icons-youtube"><a data-toggle="tooltip" href="~/Content/http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
            <li class="social-icons-instagram"><a data-toggle="tooltip" href="~/Content/http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer-copyright">
        <ul class="nav justify-content-center">
          <li class="nav-item"> <a class="nav-link active" asp-controller="Home" asp-action="aboutus">About Us</a> </li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="contact">Contact</a> </li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Support">Support</a> </li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> </li>
        </ul>
        <p class="copyright-text">Copyright © 2023 <a asp-controller="Home" asp-action="Index">RechargeMobile</a>. All Rights Reserved.</p>
      </div>
    </div>
  </footer><!-- Footer end -->
  
</div><!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="~/Content/javascript:void(0)"><i class="fa fa-chevron-up"></i></a>
    <!-- Modal Dialog - Login/Signup
    ============================================= -->
    <div id="login-signup" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-sm-3">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a id="login-tab" class="nav-link active text-4" data-toggle="tab" asp-controller="Home" asp-action="loginandsignup" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
                        <li class="nav-item"> <a id="signup-tab" class="nav-link text-4" data-toggle="tab" asp-controller="Home" asp-action="loginandsignup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a> </li>
                    </ul>
                    <div class="tab-content pt-4">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="loginForm" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="loginMobile" required placeholder="Mobile or Email ID">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="loginPassword" required placeholder="Password">
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm">
                                        <div class="form-check custom-control custom-checkbox">
                                            <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                                            <label class="custom-control-label" for="remember-me">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="col-sm text-right"> <a class="justify-content-end" href="~/Content/#">Forgot Password ?</a> </div>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form id="signupForm" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" data-bv-field="number" id="signupEmail" required placeholder="Email ID">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="signupMobile" required placeholder="Mobile Number">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="signuploginPassword" required placeholder="Password">
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Signup</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Modal Dialog - Login/Signup end -->
<!-- Script -->
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script> 
<script src="~/Content/js/theme.js"></script> 

<script>(function(){var js = "window['__CF$cv$params']={r:'7e91b9848ad76e63'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../cdn-cgi/challenge-platform/h/b/scripts/jsd/556d0c9f/invisible.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script><script defer src="~/Content/https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039" integrity="sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==" data-cf-beacon='{"rayId":"7e91b9848ad76e63","version":"2023.4.0","b":1,"token":"8bc8f1fd05f14cdd9c8769052b44ce45","si":100}' crossorigin="anonymous"></script>
</body>

</html>